 .u-section-1 {
  background-image: linear-gradient(white, #dc5b44);
}

.u-section-1 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 710px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 64px -40px 0 40px;
}

.u-section-1 .u-image-1 {
  width: 815px;
  height: 731px;
  margin: -124px -84px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: linear-gradient(#dc5b44, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: -124px auto 0 40px;
  padding: 0 37px 0 36px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  font-size: 2.3572em;
  margin-right: 5px;
  vertical-align: -6px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 226px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-icon-2 {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 226px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 7px;
}

.u-section-1 .u-icon-3 {
  height: 100px;
  width: 100px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 5px 0 1px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 226px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-1 .u-icon-4 {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 932px;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 285px;
  height: 573px;
  animation-duration: 1000ms;
  margin: 87px auto 0 14px;
}

.u-section-1 .u-image-3 {
  height: 585px;
  width: 509px;
  animation-duration: 1000ms;
  margin: -341px -117px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 533px;
    height: 478px;
    margin-top: -19px;
    margin-right: auto;
    margin-left: -49px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -13px;
    margin-left: 116px;
    padding: 6px 20px 7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 187px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 915px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 64px;
    margin-left: -81px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -307px;
    margin-right: -116px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2164px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    height: 783px;
    width: 783px;
    margin-top: -195px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -195px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 1320px;
  }

  .u-section-1 .u-image-2 {
    width: 292px;
    height: 585px;
    margin-top: 88px;
    margin-right: 369px;
    margin-left: 59px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -586px;
    margin-right: -65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    margin-top: -127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -101px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 990px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 137px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -356px;
    margin-right: -97px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-1 .u-image-1 {
    height: 420px;
    width: 425px;
    margin-top: -56px;
    margin-right: auto;
    margin-left: -47px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 77px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 770px;
  }

  .u-section-1 .u-image-2 {
    width: 214px;
    height: 429px;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 447px;
    width: 389px;
    margin-top: -156px;
    margin-right: -91px;
  }
}